@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
    
    <p id="cookie-value"></p>
	</div>
    

    <script>
      // Get the cookie value
      const cookieValue = document.cookie.replace(/PageViews/, "Aantal navigaties");

      // Update the HTML content with the cookie value
      document.getElementById("cookie-value").textContent = cookieValue;
    </script>



</div>
